{% extends "base.html" %}
{% block body %}

	<div class="row">
		<div class="col-lg-12">
			<h2>{{perfil.nome}}</h2>
			<ul style="list-style: georgian outside url('/non-existent.svg');">
				<li>{{perfil.nome_empresa}}</li>
				<li><a href="mailto:{{perfil.email}}">{{perfil.email}}</a></li>
				<li>{{perfil.telefone}}</li>
				<li>Sobre: {{perfil.sobre}}</li>
			</ul>
			
			{% if eh_contato %}
				<div class="well well-sm">Vocês estão conectados!</div>
			{% else %}
				<a href="{% url 'convidar' perfil.id %}">Convidar</a>
			{% endif %}

		</div>
	</div>

{% endblock %}
</body>
</html>